# Virtual environments
venv/
.env
.venv/

# Bytecode and caches
__pycache__/
*.py[cod]

# Logs and system files
*.log
.DS_Store
Thumbs.db

# VSCode and IDE settings
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
 
